<form action="/submit" method="post" accept-charset="utf-8">
	<p>Name: <input type="text" value="Name" name="name"></p>
	<p>Message</p>
	<p><textarea name="message"></textarea></p>
	<p><input type="submit" value="Submit &rarr;"></p>
</form>